/*Copyright 2021 Staffan Ulfberg staffan@ulfberg.se*/

body {
    margin: 0;
}

.topnav {
    background-color: black;
    position: relative;
    height: 48px;
    overflow: visible;
}

.topnav #dropdownMenu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    z-index: 1;
    border-bottom: 1px solid #aaa;
}

.topnav a:hover,
.topnav a:active {
    background: #888;
}

.topnav a,
.topnav span {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav span {
    display: inline-block;
}

.topnav a.icon {
    background: black;
    display: block;
    z-index: 22;
    position: relative;
    float: right;
}

.remote-keys {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    height: 600px;
}

.remote-keys > button,
.remote-keys > span.dummy {
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 80%;
    font-weight: normal;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
}

.remote-keys > button:active::before {
    background-color: rgba(80, 0, 0, 0.5);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.orange {
    color: white;
    background-color: #f76143;
}

.light-gray {
    color: black;
    background-color: #f0f0f0;
}

.gray {
    color: white;
    background-color: #999999;
}

.green {
    color: white;
    background-color: #008000;
}

.black {
    color: white;
    background-color: black;
}

.blue {
    color: white;
    background-color: #0066ff;
}

.disabled {
    color: #808080;
    background-color: #a0a0a0;
}
